---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Read+a+book
    headers:
      Authorization:
      - OAuth oauth_consumer_key="XzENvqqEUsrDEZc3orzANWcaU", oauth_nonce="f0b77628a8445c39b92d56687945d1d1",
        oauth_signature="eIyIAjvzlhPkBXQJChNK6U%2FVg%2B8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1474200695", oauth_token="777470408371023872-ijIopeQkM5r6VVF2QOZZje0cGQGcQ0P",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Sep 2016 12:11:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 835c103bbdc9dd51f5769571d1718db1
      X-Response-Time:
      - '159'
      X-Transaction:
      - 00adb5a50028a36b
      X-Tsa-Request-Body-Time:
      - '9'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Sun Sep 18 12:11:37 +0000 2016","id":777480192197402628,"id_str":"777480192197402628","text":"Read
        a book","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/example.com\" rel=\"nofollow\"\u003ewsxokn\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":777470408371023872,"id_str":"777470408371023872","name":"Mayuresh
        Srivastava","screen_name":"luvyoumaa","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":9,"listed_count":0,"created_at":"Sun
        Sep 18 11:32:44 +0000 2016","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Sun, 18 Sep 2016 12:11:37 GMT
recorded_with: VCR 3.0.3
